<% layout("layout/boilerplate") %>

<div class="row">
    <div class="col-6 offset-3 mb-3" >
        <div class="card">
            <img src="<%= campground.image %>" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><%= campground.title %></h5>
                <p class="card-text"><%= campground.description %></p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-muted"><%= campground.location %></li>
                <li class="list-group-item">$<%= campground.price %>/night</li>
            </ul>
            <div class="card-body">
                <a class="card-link btn btn-warning" href="/campgrounds/<%= campground.campgroundID %>/edit">編輯</a>
                <form class="d-inline" action="/campgrounds/<%= campground.campgroundID %>?_method=DELETE"
                      method="POST">
                    <button class="btn btn-danger">刪除</button>
                </form>
                <a href="/campgrounds" class="card-link btn btn-primary">返回列表</a>
            </div>
        </div>

    </div>
</div>





